<header class="header-user-dropdown">

	<div class="header-limiter">
		{{#if user}}
		<h1><a href="/{{user.username}}">Neu<span>ProElectro</span></a></h1>
		{{else}}
		<h1><a href="/">Neu<span>ProElectro</span></a></h1>
		{{/if}}
{{#if user}}
		<nav>
			<!-- <a href="#">Overview</a>
			<a href="#">Surveys</a>
			<a href="#">Reports</a>
			<a href="#">Roles <span class="header-new-feature">new</span></a> -->
		</nav>
    <!-- <ul>
			<li><a href="/signin">Login/SignUp</a></li>
			<li><a href="#">Sign up</a></li>
		</ul> -->

		<div class="header-user-menu">
			<img src="assets/2.jpg" alt="User Image"/>

			<ul>
				<!-- <li><a href="#">Settings</a></li>
				<li><a href="#">Payments</a></li> -->
				<li><a href="/logout" class="highlight">Logout</a></li>
			</ul>
		</div>
    {{/if}}

	</div>

</header>
