<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>NeuProElectro</title>
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <link rel="stylesheet" type="text/css" href="/public/css/header-user-dropdown.css">
</head>

<body>
{{> header this}}
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        {{{ body }}}
      </div>
      <div class="col-sm-3">
        {{> stats this }}
        {{> popular this }}
        {{> comments this }}
      </div>
    </div>
  </div>
  {{> footer this}}
      <script src="/public/js/jquery-1.12.3.js"></script>
      <script type="text/javascript" src="/public/js/scripts.js"></script>
      <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
      <script src="/public/js/typeahead.bundle.min.js"></script>
      <script src="/public/js/bloodhound.min.js"></script>
      <script src="public/js/search.js"></script>
    </body>
    </html>
